@{
    ViewBag.Title = "Web Library";
    ViewBag.Message = "All the books you want at the distance of one clic";
}
@section featured {
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <h1>@ViewBag.Title.</h1>
                <h2>@ViewBag.Message</h2>
            </hgroup>
            <p>
                <!-- -->
            </p>
        </div>
    </section>
}
<h3> <!-- --> </h3>
<ol class="round">
    <li class="one">
        <h5> <!-- --> </h5>
        <!-- --> 
    </li>
</ol>
